#holder
-#=react_component("CompetenceChooser", {allCompetences: @all_competences, user: @user, directlyEdit: current_user&.has_role?(:admin)})
=render_react_tag("CompetenceChooser", {allCompetences: @all_competences, user: @user, directlyEdit: current_user&.has_role?(:admin)})
