%h1 Felhasználók

%table
  %thead
    %tr
      %th
        E-mail
      %th
        Keresztapa?
      %th
        Műveletek
  %tbody
    -@users.each do |user|
      %tr
        %td
          =link_to user.email, user_path(user)
        %td
          -if user.has_role?(:godfather)
            Igen
          -else
            Nem
        %td
          -if current_user&.has_role? :admin
            -if user&.has_role? :admin
              =link_to '-admin', remove_admin_user_path(user)
            -else
              =link_to '+admin', add_admin_user_path(user)
