%h1
  =@user.email
%div.clearfix
  %h2.float-left Kompetenciák
  =link_to 'Kompetenciák', competences_user_path(@user), class: 'button float-right'
%ul
  -@user.assigned_competence_levels.each do |acl|
    %li
      %strong
        =acl.competence.title
      =@tier_names&.fetch(acl.competence.competence_type.competence_tier_group_id)&.fetch(acl.level)
%div.clearfix
  %h2.float-left
    -if @user.available?
      Rendelkezésre áll
    -else
      Nem áll rendelkezésre
  =link_to 'Rendelkezésre állás', user_availabilities_path(@user), class: 'button float-right'
%div
  -if @user.has_role?(:godfather)
    %div.clearfix
      %h2.float-left Keresztapa
      =link_to 'Família', subordinates_user_path(@user), class: 'button float-right'
    -#family=User.where("id IN (?)", @user.roles.where(resource_type: 'User').map(&:resource_id))
    A família:
    %ul
      -@user.subordinates.each do |u|
        %li=link_to u.email, u
