/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require milligram/dist/milligram
 *= require Ionicons/css/ionicons
 *= require react_datetime
 */


.assigned-competence{
  background-color: #67da16;
}

.pending-competence{
  background-color: #faff06;
}

.selected-tier{
  background-color: rgb(6, 255, 0) !important;
}

.pending-tier{
  background-color: rgb(231, 173, 62) !important;
}

.button{
  padding: 0px 1rem!important;
}

.mini-competence{
  margin-left: 3px;
  margin-right: 3px;
  background-color: rgb(200,200,200);
  padding: 3px;
  border-radius: 5px;
  display: inline;
}

.result-competence{
  margin-left: 3px;
  margin-right: 3px;
  background-color: rgb(11, 251, 6);
  padding: 3px;
  border-radius: 5px;
}

.result-box{
  background-color: rgb(237, 236, 236);
  border-radius: 15px;
}

.other-godfather{
  background-color: rgb(157, 156, 156);
  color: rgb(37, 37, 37);
  border-radius: 5px;
}

.godfather-icon{
  max-height: 30px;
  padding: 2px;
}

.user-name{
  font-weight: bold;
  font-size: 130%;
}

.available-label{
  color: rgb(29, 162, 12);
}