%h3
  ="Kedves #{@user.name}!"

%div
  A SED RM rendszerben a következő változások történtek az legutóbbi bejelentkezés óta:
%div
  - if @pending_users.count>0
    %h5 Függő dolgozó kompetenciák
    %ul
      -@pending_users.each do |user|
        %li=user.name
  - if @requested.count>0
    %h5 Módosult kérvények
    %ul
      -@requested.each do |req|
        %li=req.title
  - if @relevant.count>0
    %h5 Új hirdetések
    %ul
      -@relevant.each do |rel|
        %li=rel.title
